/** Styles that target particular components or object types */

body {
    font-family: monospace;
}

input {
    all: unset;

    font-family: monospace;
    white-space: pre-wrap;
}

input:focus {
    background-color: var(--bg-color-focus);
}

.tab-button.focused {
    background-color: var(--bg-color-focus);
}

div.focused{
    background-color: var(--bg-color-focus);
}

body {
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--fg-color);
}


textarea {
    all: unset;

    font-family: monospace;
    white-space: pre-wrap;
    padding: 5px;
}

textarea:focus {
    background-color: var(--bg-color-focus);
}

.scratch-pad {
    border: 1px var(--fg-color) solid;
    padding: 0;
    width: 100%;
    height: 400px;
}

button {
    all: unset;

    background-color: var(--bg-color);
    user-select: none;
    cursor: pointer;
}


button:hover {
    background-color: var(--bg-color-focus);
}

button:active {
    background-color: var(--bg-color-focus-2);
}

.info-button {
    display: inline-block;
    /* width: 30px; */

    text-align: center;
    font-style: italic;
    margin: 10px;
}

.info-button:hover {
    background-color: #AAF;
}


.info-button:active {
    background-color: #00F;
    color: var(--bg-color);
}

