body {
    font-family: monospace;
}


input {
    all: unset;

    font-family: monospace;
    white-space: pre-wrap;
}

input:focus {
    background-color: var(--bg-color-focus);
}

.tab-button.focused {
    background-color: var(--bg-color-focus);
}

div.focused{
    background-color: var(--bg-color-focus);
}

body {
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.pre-wrap {
    white-space: pre-wrap;
}

.pre {
    white-space: pre;
}

.gap-5 {
    gap: 5px;
}

textarea {
    all: unset;

    font-family: monospace;
    white-space: pre-wrap;
    padding: 5px;
}

textarea:focus {
    background-color: var(--bg-color-focus);
}

.scratch-pad {
    border: 1px var(--fg-color) solid;
    width: 100%;
    height: 400px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

button {
    all: unset;

    background-color: var(--bg-color);
    user-select: none;
    cursor: pointer;
}

.solid-border {
    outline: 2px solid var(--fg-color);
    border-radius: 6px;
}

.expand-btn.expanded {
    background-color: var(--bg-color-focus);
}
button:hover {
    background-color: var(--bg-color-focus);
}

button:active {
    background-color: var(--bg-color-focus-2);
}

.info-button {
    display: inline-block;
    /* width: 30px; */

    text-align: center;
    font-style: italic;
    margin: 10px;
}

.info-button:hover {
    background-color: #AAF;
}


.info-button:active {
    background-color: #00F;
    color: var(--bg-color);
}

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.z-index-300 {
    z-index: 300;
}

.table {
    display: table;
}

.table > * {
    display: table-row;
}

.table > * > * {
    display: table-cell;
}

.table-cell-min {
    width: 1%;
    white-space: nowrap;
}

.v-align-bottom {
    vertical-align: bottom;
}

.expand-btn-height {
    height: 50px;
}

.expand-btn {
    height: 50px;
    width: 50px;
    text-align: center;
}

.expand-btn::before {
    content: " > ";
}

.expand-btn:hover::before {
    content: "[>]";
}

.expand-btn.expanded::before {
    content: " v ";
}
.expand-btn.expanded:hover::before {
    content: "[v]";
}

.danger {
    background-color: red;
    color: white;
}

.radio-buttons {
    width: 15px;
    height: 15px;
}